.group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.between {
  justify-content: space-between;
}
